// Colors
$static-white: rgb(255, 255, 255);
$static-white-40: rgb(255, 255, 255, 0.4);
$static-white-20: rgb(255, 255, 255, 0.2);
$primary: rgb(57, 160, 245);
$primary-10: rgb(45, 114, 243, 0.1);
$content-background: #ECF3F8;
$dark: #181C29;
$tag-green: #06A44F;
$tag-purple: #4361FF;
$tag-pink: #FF43F7;
$overlay: rgb(24, 28, 41, 0.8);

// Font size
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 24px;
$font-size-xlarge: 32px;
$font-size-huge: 80px;

// Spaces
$space-xs: 8px;
$space-sm: 12px;
$space-md: 20px;
$space-lg: 60px;

// Max-width
$max-width: 1440px !default;
$wrapper-width: 1276px;
$min-container: 426px;

$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1)
