@use "../abstract/mixins" as *;
@use "../abstract/variables" as *;



.burger-menu {
  display: none;
  width: 40px;
  height: 40px;

  @include media(1160px) {
    display: block;
  }
}

.bars {
  position: relative;
  gap: 8px;
  width: 100%;
  height: 100%;
  z-index: 102;
}

.bar {
  height: 1px;
  width: 20px;
  background-color: $static-white;
  transition: all 0.5s ease;
}

.burger-menu.active {
  .top-line {
    transform: translateY(5px) rotate(45deg);
  }
}

.burger-menu.active {
  .bottom-line {
    transform: translateY(-4px) rotate(-45deg);
  }
}

body.noscroll {
  overflow: hidden;
}

.popup {
  display: none;

    @include media(1160px) {
    display: flex;
    position: fixed;
    // top: 64px;
    padding-bottom: 64px;
    left: 200vw;
    width: 100vw;
    height: 100vh;
    background-color: $primary;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: 0.3s;

    &.popup {



      &.open {
        left: 0;
        
      }
    }

    &.popup  {
      .navigation {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        align-self: center;
        padding: 50px 0;
        overflow: auto;
        gap: 30px;

        .nav-link {
          color: $static-white;
        }
      }
    }

    &.popup {
      .navigation {
      > li {
        > a {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          }
        }
      }   
    }
  }
}

.burger-container {
  display: flex;
  justify-content: center;
  align-items: center;
}