@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.about__wrapper {
  .layout-row {
  // background-color: $static-white;
  // border-radius: 20px;
  width: 100%;
  position: relative;

    @include media(700px, 'small') {
      flex-direction: column;
    }
  }
}

.text-content {
  width: 50%;
  padding: 0 $space-lg;
  height: 100%;

  @include media(700px, 'small') {
    $p: calc(60px + 40 * ((100vw - 700px) / 320));
    width: 100%;
    padding: 0 $p;
  }

  .inner {
    // text-align: center;
    gap: $space-lg;
    align-items: center;
    width: 100%;
  }

  .caption {
    color: $primary;
  }
}


.about-header {
  gap: $space-md;

   & .caption {
    font-size: $font-size-huge;
   }
}

.about-background {
  border-radius: 20px;
  width: 50%;
  background: url("../assets/img/portrait-about.jpg") no-repeat center/cover;
  height: 528px;

  @include media(700px, 'small') {
    width: 100%;
  }
  z-index: 1000;
}

.blue-back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -25%);
  width: 600px;
  height: 600px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
  display: block;
  z-index: 500;
}

.about-text {
  text-align: justify;
}