@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

$card-w: 310px;
$gap: $space-sm;
$padding: $space-xs;
$medium-bp: calc(($card-w * 4 + $gap * 3 + $padding * 2) - 1px);
$small-bp: calc(($card-w * 2 + $gap + $padding * 2) - 1px);

.cards {
  padding-top: 0;

}

.grid-wrapper {
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  width: 100%;
  gap: $space-lg;
  justify-content: center;

  @include media($medium-bp, calc($small-bp)) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $space-md;
  }

  @include media($small-bp) {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: $space-md;
  }

}

.card {
  position: relative;
  width: 100%;
  height: auto;
  transition: all 0.3s linear;
  box-shadow: 6px 6px 15px 0px $primary-10;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: $space-sm;
  justify-content: space-between;

  


  &:hover {
    box-shadow: 8px 8px 20px 0px $primary-40;


    .card-title{
      color: $primary;
      // font-family: 'Pacifico', 'Times New Roman', serif;
      // letter-spacing: 0.1em;
    }
  
  }
    

  &:hover img {
    transform: scale(1.07);
  }

  img {
    width: 100%;
    height: auto;
    display: block;
    // border-top-right-radius: 20px;
    // border-bottom-left-radius: 20px;
    transition: all 1s ease-in;
  }

  .img-container {
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

  }

  .text-container {
    position: relative;
    padding: $space-md;
    gap: $space-md;
    display: flex;
    flex-direction: column;
    background: $static-white;
    width: 100%;
    border-radius: 20px;


      .card-text-content {
        display: flex;
        flex-direction: column;
        height: 108px;
        justify-content: space-between;
        gap: $space-sm;
      }
  }
}

.cards-container {
  gap: $space-lg;
}

.card-time {
  position: relative;

  &::before {
    content: ""; /* Обязательно: контент должен быть задан, даже если он пустой */
    position: absolute; /* Абсолютное позиционирование относительно .card */
    top: -5px;
    left: 0;
    width: 100%;
    height: 1px; /* Пример высоты */
    background-color: $primary; /* Пример цвета */
    z-index: 1;
  }
}

.card-footer {
  width: 100%;
  justify-content: space-between;
}

h2 {
  &.cards-section-title {
    padding: 25px 0 0;
  }

}
