
@use "layout" as *;
@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.header {
  display: flex;
  max-width: $max-width;
  margin: auto;
}

.header__wrapper {
  position: fixed;
  @include flex;
  justify-content: space-between;
  padding: $space-sm 0;
  width: 100%;
  margin: 0 $space-lg;

}

.logo {
  @include flex;
  padding: $space-xs 0;
  gap: $space-xs;

  @include media('medium', 'small') {
    cursor: default;
  }
}

.logo {
  color: $static-white;
  
  .logo-image {
    height: $font-size-xlarge;
  }
}

.navigation {
  gap: $space-xs;

  color: $static-white;


  @include media('medium', 'small') {
    display: none;
  }

  .navigation-tab {
    padding: $space-sm $space-md;


    & a {
      color: $static-white;
    }
    


    &:hover:not(.nav-active) {
      cursor: pointer;

      @include disable-hover-on-mobile {
        background-color: $static-white;
        color: $dark;
      };
    }

    &.nav-active {
      background-color: $primary-10;
      // border-radius: $space-sm;
      cursor: default;
    }
  }
}

.nav-pnone {
  gap: $space-sm;

  .phone-link {
  color: $static-white;
  }

  &:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.05);
  }

}


// hover

$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);



.underline-hover {
  overflow: hidden;
  position: relative;
  transition: letter-spacing 0.4s ease-in-out;

  &:hover {
    font-family: 'Pacifico', 'Times New Roman', serif;
    letter-spacing: 1.4px;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -9px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #faf9f9;
    transition: width 1s $ease-out-cubic, left 1s $ease-out-cubic;
  }

  &:hover::after {
    width: 100%;
    left: 0;
  }

  &:not(:hover)::after {
    left: auto;
    right: 0;
    width: 0;
  }
}