@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-row {
  @include flex;
  flex-direction: row;
}

.layout-column {
    @include flex;
    flex-direction: column;
}

.grid {
  display: grid;
}