
@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.slider {
  position: relative;
  flex-direction: column;
}

.slides-container {
  overflow: hidden;
  position: relative;
  min-height: 300px;
  width: 100%;



  
}

.slide {
  position: absolute;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  top: 0;
  left: 0;
}

.slide.active {
  opacity: 1;
  position: relative;
  background-color: $primary-10;
  width: 100%;

  visibility: visible;

}

.slider-controls {
  margin-top: 20px;
  text-align: center;
}

.slider-button {
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  background: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.slider-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.slide-content {
  width: 100%;
}