@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.transport-background {
  border-radius: 20px;
  width: 50%;
  background: url("../assets/img/renault-scenic.webp") no-repeat center/cover;
  height: 528px;

  @include media('medium', 'small') {
    display: none;
  }
  
  z-index: 1000;
}

.transport__wrapper {
  .layout-row {
  // background-color: $static-white;
  // border-radius: 20px;
  width: 100%;
  position: relative;

    @include media(700px, 'small') {
      flex-direction: column;
    }
  }
}

