@font-face {
  font-family: 'Pacifico';
  src: url('/src/assets/fonts/Pacifico-Regular.ttf');
}

@font-face {
  font-family: 'Brigantina';
  src: url('/src/assets/fonts/Brigantina.otf');
}


@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/src/assets/fonts/Montserrat-SemiBold.ttf');
  font-weight: 600;
}

